@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-01-29 15:53:27
 * @version $Id$
 */

.accounts_pay{ width: 100%; overflow:hidden;}
.accounts_pay ul{ padding: 25px;}
.accounts_pay ul li{ margin-bottom: 25px; overflow:hidden;}
.accounts_pay ul li input{ border: 1px solid #ccc; box-sizing: border-box; border-radius: 6px; height: 80px; font-size: 28px;  float: left;}
.accounts_pay ul li input.inputCard{ width: 100%; background:#fff url(../images/icon_card.png) no-repeat 24px 20px; text-indent: 130px;}
.accounts_pay ul li input.inputPhone{ width: 100%;  background:#fff url(../images/icon_tel.png) no-repeat 36px 20px;text-indent: 130px;}
.accounts_pay ul li input.inputUser{width: 100%;  background:#fff url(../images/user_pic.png) no-repeat 32px 20px;text-indent: 130px;}
.accounts_pay ul li input.inputCode{ width: 316px; height: 58px; text-indent: 44px; }

.accounts_pay ul li input.user{ width: 100%;  background:#fff url(../images/icon_mainuser.png) no-repeat 36px 20px;text-indent: 100px;}
.accounts_pay ul li input.password{ width: 100%;  background:#fff url(../images/icon_password.png) no-repeat 36px 20px;text-indent: 100px;}
.accounts_pay ul li input.change_password{ width: 100%;  background:#fff url(../images/change_password.png) no-repeat 36px 20px;text-indent: 100px;}

.accounts_pay ul li img{ float: left; margin-left: 24px;}
.accounts_pay ul li .rb{ float: right; }
.accounts_pay ul li .lb{ float: right; }

.accounts_pay ul li a{ float: left; margin-left: 46px; font-size: 28px; line-height: 58px;}
.accounts_pay .abs{ margin-top: 120px;}
.accounts_pay .abs1{ margin-top: 500px;}
.accounts_pay .abs2{ margin-top: 10px;}
.accounts_pay ul li .get_code {
    float: right;
    text-align: center;: 70px;
    font-size: 24px;
    color: #2b98e5;
    width: 250px;
    height: 80px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px;
}

.button2{ padding: 0 25px; margin-top: 40px; margin-bottom: 40px; overflow: hidden;}
.button2 a{ float: right; color: #2b98e5; font-size: 24px;}